extends layout 

block content 
    h1 #{title}
    h3 Details for #{item.name}
    p Name : #{item.name}
    p Desc : #{item.description}
    p Category : #{category_name.name}
    p Brand : #{item.brand} 
    p Model : #{item.model} 
    p Price : #{item.price}