extends layout 

block content 
    h1 Keys list
    p #{title} are : 
        ul
            for each in items
                    li #{each.name}
                    p Description : #{each.description}
                    p Price : $#{each.price}
                    p Brand : #{each.brand}
                    p Model : #{each.model}
                    p Quantity : #{each.quantity}
                    br
    a(href=`/catalog/items/addNew`) Add new instrument to #{title} 
    br
    br
    a(href="/") Take me Home